div.panel.panel-default
	div.panel-heading
		span.fui-chat
		= ' '
		| Recent Comments
	div.panel-body
		p(ng-if='!comments.length') &hellip;
		ul.media-list
			li.media.fade-in-fade-out(
				ng-repeat='comment in comments track by comment._id'
			)
				a.media-left(
					ng-if='!noCommenterLink'
					href='/user/{{ comment.user.username }}'
				)
					img.media-object(
						src='{{ comment.user.gravatar }}?s=24&d=retro'
						style='width: 24px; height: 24px'
					)
				.media-left(
					ng-if='noCommenterLink'
				)
					img.media-object(
						src='{{ comment.user.gravatar }}?s=24&d=retro'
						style='width: 24px; height: 24px'
					)
				.media-body
					p.media-heading.compact
						a(
							href='/user/{{ comment.user.username }}'
							ng-if='!noCommenterLink'
						) {{ comment.user.username }}
							= ' '
							span.rank(ng-if='comment.user.rank') [{{ comment.user.rank }}]

						span(
							ng-if='noCommenterLink'
						) {{ comment.user.username }}
							= ' '
							span.rank(ng-if='comment.user.rank') [{{ comment.user.rank }}]

						= ' '
						| commented on
						= ' '
						a(
							href='/kifu/{{ comment.kifu.shortid }}?path={{ comment.path | path:"string" }}'
						) move {{ comment.path }}
						= ' '
						| of
						br
						a(
							href='/kifu/{{ comment.kifu.shortid }}?path={{ comment.path | path:"string" }}'
						)
							span.name {{ comment.kifu.game.info.white.name }}
							= ' '
							span.rank [{{ comment.kifu.game.info.white.rank }}]
							= ' '
							| vs.
							= ' '
							span.name {{ comment.kifu.game.info.black.name }}
							= ' '
							span.rank [{{ comment.kifu.game.info.black.rank }}]
						br
						time.relative.small(
							datetime='{{ comment.date }}'
						) {{ comment.relativeDate | verboseNumbers }}

		//{{ comments }}
