div.panel.panel-default
	div.panel-heading
		span.fui-chat
		= ' '
		| Recent Comments
	div.panel-body
		p(ng-if='!comments.length') &hellip;
		ul.media-list
			li.media.fade-in-fade-out(
				ng-repeat='comment in comments track by comment._id'
			)
				a.media-left(
					ng-if='!noCommenterLink'
					href='/user/{{ comment.user.username }}'
					target='{{ $rootScope-iframed ? "_blank" : "_self" }}'
				)
					img.media-object(
						ng-src='{{ comment.user.gravatar }}?s=24&d=retro'
						style='width: 24px; height: 24px'
					)
				.media-left(
					ng-if='noCommenterLink'
				)
					img.media-object(
						ng-src='{{ comment.user.gravatar }}?s=24&d=retro'
						style='width: 24px; height: 24px'
					)
				.media-body
					p.media-heading.compact
						a(
							href='/user/{{ comment.user.username }}'
							ng-if='!noCommenterLink'
						) {{ comment.user.username }}
							= ' '
							span.rank(ng-if='comment.user.rank') [{{ comment.user.rank }}]

						span(
							ng-if='noCommenterLink'
						) {{ comment.user.username }}
							= ' '
							span.rank(ng-if='comment.user.rank') [{{ comment.user.rank }}]

						= ' '
						| commented on
						= ' '
						a(
							ng-if='isString(comment.path)'
							href='/kifu/{{ comment.kifu.shortid }}?path={{ comment.path | path:"string" }}'
						) move {{ comment.path | verboseNumbers }}
						span(
							ng-if='!isString(comment.path)'
						) moves
							= ' '
							span(
								ng-repeat='path in comment.path track by path._id'
							)
								a(
									href='/kifu/{{ comment.kifu.shortid }}?path={{ path.path | path:"string" }}'
								) {{ path.path | verboseNumbers }}
								= ' '
								span(ng-if='!$last && $first && $index === (comment.path.length - 2)')
									= ' and '
								span(ng-if='!$last && !$first && $index === (comment.path.length - 2)')
									= ', and '
								span(ng-if='!$last && $index < comment.path.length - 2')
									= ', '
						= ' '
						| of
						= ' '

						// TODO: Gah, repeating all the contents of this anchor tag is so
						// dumb, but I'm too tired to fix it right now!
						a(
							ng-if='isString(comment.path)'
							href='/kifu/{{ comment.kifu.shortid }}?path={{ comment.path | path:"string" }}'
						)
							span.name {{ comment.kifu.game.info.white.name }}
							span.rank(ng-if='comment.kifu.game.info.white.rank') &nbsp;[{{ comment.kifu.game.info.white.rank }}]
							= ' '
							| vs.
							= ' '
							span.name {{ comment.kifu.game.info.black.name }}
							span.rank(ng-if='comment.kifu.game.info.black.rank') &nbsp;[{{ comment.kifu.game.info.black.rank }}]
						a(
							ng-if='!isString(comment.path)'
							href='/kifu/{{ comment.kifu.shortid }}?path={{ comment.path[0].path | path:"string" }}'
						)
							span.name {{ comment.kifu.game.info.white.name }}
							= ' '
							span.rank(ng-if='comment.kifu.game.info.white.rank') [{{ comment.kifu.game.info.white.rank }}]
							= ' '
							| vs.
							= ' '
							span.name {{ comment.kifu.game.info.black.name }}
							= ' '
							span.rank(ng-if='comment.kifu.game.info.black.rank') [{{ comment.kifu.game.info.black.rank }}]
						br
						time.relative.small(
							datetime='{{ comment.date }}'
						) {{ comment.relativeDate | verboseNumbers }}

		//{{ comments }}
