.modal-header
	h3.modal-title Forgot Password

.modal-body
	form.form-horizontal.form-signin(
		name='form'
		ng-submit='requestPasswordReset()'
		novalidate
		role='form'
	)

		.form-group(ng-class="{'has-error': error}")
			label.col-sm-4.control-label(for='login-email') Email address:
			.col-sm-8
				input#login-email.form-control(
					placeholder='Email address'
					type='email'
					name='email'
					ng-model='user.email'
					required
				)

		.row
			.col-sm-offset-4.col-sm-8.has-error(ng-show='error')
				p.help-block {{ error }}

		.row(ng-show='success')
			.col-sm-offset-4.col-sm-8
				p We&rsquo;ve sent an email to {{ user.email }} with a link to reset your password. It should arrive shortly.

		button.hidden(type='submit') Request Password Reset

.modal-footer
	button.btn.btn-primary(
		ng-click='requestPasswordReset()'
		ng-hide='success'
		ng-disabled='!user.email'
		) Request Password Reset
	button.btn.btn-default(ng-click='cancel()' ng-hide='success') Cancel
	button.btn.btn-default(ng-click='cancel()' ng-show='success') Close
