.container-fluid
	.row
		.kifu-banner.col-lg-12
			.white
				.name {{ info.white.name || 'Anonymous' }}
				= ' '
				.rank {{ info.white.rank }}
				.captures(
					tooltip-placement='right'
					tooltip='White’s captured prisoners'
				) {{ captures.white }}

			.black
				.name {{ info.black.name || 'Anonymous' }}
				= ' '
				.rank {{ info.black.rank }}
				.captures(
					tooltip-placement='left'
					tooltip='Black’s captured prisoners'
				) {{ captures.black }}

		.player-container.col-xs-12.col-sm-6.col-md-5.col-md-push-3(
			ng-swipe-left='swipeLeft($event)'
			ng-swipe-right='swipeRight($event)'
		)
			.result(
				ng-if='kifu.game.info.result'
				ng-show='lastMove && !editMode && !variationMode && !player.temporarySequence && !hideResult'
				ng-click='hideResult = true'
			)
				.inner {{ kifu.game.info.result }}
			sgf(
				src='kifu.game.sgf'
				start='kifu.path'
				update='playerUpdate(event)'
				info='info'
				player='player'
				coordinates
				ng-class='{ "variation-mode": variationMode, "edit-mode": editMode }'
			)

			//-button.btn.btn-default(ng-click='toggleEditMode()') Edit
			//-button.btn.btn-default(ng-click='getSgf()') SGF

		.sgf-comments.col-xs-12.col-sm-6.col-md-3.col-md-pull-5
			div.panel.panel-default(
				ng-hide='kifu.path.m !== 0'
			)
				.panel-heading
					span.fui-info
					= ' '
					| Game Info
				.panel-body
					table.table-condensed
						tbody
							tr(ng-if='kifu.game.info.source')
								th Source:
								td {{ kifu.game.info.source }}
							tr(ng-if='kifu.game.info.komi')
								th Komi:
								td {{ kifu.game.info.komi }}
							tr(ng-if='kifu.game.info.result')
								th Result:
								td {{ kifu.game.info.result }}
							tr(ng-if='kifu.game.info.date')
								th Date:
								td {{ kifu.game.info.date }}
							tr(ng-if='kifu.game.info.place')
								th Place:
								td {{ kifu.game.info.place }}
							tr(ng-if='kifu.game.info.rules')
								th Rules:
								td {{ kifu.game.info.rules }}
							tr(ng-if='kifu.game.info.timeLimit')
								th Time Limit:
								td {{ kifu.game.info.timeLimit }}

			div.panel.panel-default
				div.panel-heading
					span.fui-document
					= ' '
					| Game Comments
				div.panel-body
					div(
						ng-bind-html='sgfComment'
						ng-hide='editGameComment'
					)
					div(ng-if='!sgfComment && kifu.owner.username !== currentUser.username && !editGameComment') &nbsp;

					div(ng-show='editGameComment')
						textarea.form-control.bottom-buffer(
							msd-elastic='\\n'
							rows='6'
							ng-model='nodeComment'
							ng-disabled='savingGameComment'
							gk-focus-me='editGameComment'
						)
					div(ng-show='kifu.owner.username === currentUser.username')
						div(ng-show='!editGameComment')
							button.btn.btn-sm.btn-default(
								ng-click='toggleEditGameComment()'
							) Edit

						div(ng-show='editGameComment')
							button.btn.btn-sm.btn-primary(
								ng-click='saveGameComment()'
							) Save

							= ' '

							button.btn.btn-sm.btn-warning(
								ng-click='cancelGameComment()'
							) Cancel



			.btn-group.bottom-buffer.pull-right
				.btn-group(
					dropdown
				)
					button.btn.btn-default.dropdown-toggle(
						type='button'
						dropdown-toggle
					) SGF
						span.fa.icon-share
						= ' '
						span.caret

					ul.dropdown-menu.pull-right(
						role='menu'
					)
						li
							a(
								ng-href='/api/kifu/{{ kifu.shortid }}/sgf'
								target='_self'
							) With comments
							a(
								ng-href='/api/kifu/{{ kifu.shortid }}/sgf?nocomments=true'
								target='_self'
							) Without comments

				.btn-group(
					dropdown
				)
					button.btn.btn-default.dropdown-toggle(
						type='button'
						dropdown-toggle
					) Share
						span.fa.icon-share
						= ' '
						span.caret

					ul.dropdown-menu.pull-right(
						role='menu'
					)
						li
							a(
								href='#'
								socialshare
								socialshare-provider='twitter'
								socialshare-hashtags='gokibitz'
								socialshare-text='{{ info.white.name || "Anonymous" }} vs. {{ info.black.name || "Anonymous" }}'
							) Twitter
						li
							a(
								href='#'
								socialshare
								socialshare-provider='facebook'
							) Facebook
						li
							a(
								ng-click='embed(kifu.shortid)'
							) Embed



		.col-xs-12.col-sm-12.col-md-4(ng-controller='CommentController')

			//-------------------------//
			//- All-kifu comment list -//
			//-------------------------//
			.comments(
				ng-if='kifu.path.m === 0'
			)
				.panel.panel-default
					.panel-heading
						span.fui-chat
						= ' '
						| Kibitz: {{ numComments }}
						= ' '
						ng-pluralize(
							count='numComments'
							when='{ "one": "Comment", "other": "Comments" }'
						)

					.panel-body
						p(ng-if='!loading && !comments.length') No comments so far.
						ul.media-list(
							infinite-scroll='addMoreComments()'
							infinite-scroll-distance='2'
							infinite-scroll-immediate-check='true'
						)
							li.comment.media(
								ng-repeat='comment in displayComments track by comment._id'
							)
								a.pull-left(
									href='/user/{{:: comment.user.username }}'
									target='{{ $rootScope-iframed ? "_blank" : "_self" }}'
								)
									img.media-object(
										ng-src='{{:: comment.user.gravatar }}?s=24&d=retro'
										style='width: 24px; height: 24px'
									)
								.comment.media-body
									a(
										href='/kifu/{{:: kifu.shortid }}?path={{:: comment.path }}'
									)
										| {{:: comment.user.username }}
										= ' '
										span.rank(ng-if='comment.user.rank') [{{:: comment.user.rank }}]
										= ' '
										| commented on move {{:: comment.pathObject.m }} <br>
									time.relative.small(
										datetime='{{:: comment.date }}'
									) {{:: comment.relativeDate | verboseNumbers }}


			//----------------------------------//
			//- List comments on a single move -//
			//----------------------------------//
			.comments(
				ng-if='kifu.path.m !== 0'
			)
				.panel.panel-default
					.panel-heading
						span.fui-chat
						= ' '
						| Kibitz

						.navigate-comments.pull-right(ng-show='uniqComments && uniqComments.length')
							a(
								ng-click='previousCommentedMove()'
								ng-show='moreCommentsBefore'
								title='Go to the previous move with comments'
							)
								i.fui-arrow-left
							a(
								ng-click='nextCommentedMove()'
								ng-show='moreCommentsAfter'
								title='Go to the next move with comments'
							)
								i.fui-arrow-right

					.panel-body.clearfix(
						ng-if='numComments'
						ng-class='{ loading: loading }'
					)
						.throbber(ng-show='loading')
						//-.throbber
						//-div(ng-if='!comments.length') &hellip;

						ul.media-list.clearfix(
							ng-show='numComments'
							infinite-scroll='addMoreComments()'
							infinite-scroll-distance='2'
							infinite-scroll-immediate-check='true'
						)
							li.comment.media.col-md-12(
								ng-class='{ animate: !loading, highlight: highlightedComment === comment._id }'
								ng-repeat='comment in displayComments track by comment._id'
								id='comment-{{ comment._id }}'
							)
								a.pull-left(
									ng-href='/user/{{:: comment.user.username }}'
									target='{{ $rootScope-iframed ? "_blank" : "_self" }}'
								)
									img.media-object(
										ng-src='{{:: comment.user.gravatar }}?s=24&d=retro'
										style='width: 24px; height: 24px'
									)
								.star.pull-left(
								)
									// Other users' comments
									a(
										ng-if='comment.user.username !== currentUser.username'
										ng-click='toggleStar(comment)'
										ng-class='{ true: "starred", false: "unstarred" }[comment.starredByMe]'
									)
										.wrapper.pull-right
											span.fui-star-2
											= ' '
											span(
												ng-show='comment.stars.length > 0'
											) {{ comment.stars.length }}

									// Your own comments
									span(
										ng-if='comment.user.username === currentUser.username'
										ng-show='comment.stars.length > 0'
									)
										.wrapper.pull-right
											span.fui-star-2
											= ' '
											span {{ comment.stars.length }}

								.comment.media-body(ng-hide='edit')

									.btn-group.btn-group-xs.pull-right(
										ng-hide='comment.user.username !== currentUser.username && !currentUser.admin'
									)
										button.btn.btn-primary(ng-click='edit=!edit')
											i.fui-new

										button.btn.btn-danger(
											gk-really-message='Are you sure you want to delete your comment?'
											gk-really-click='deleteComment(comment)'
											gk-really-class='btn-danger'
											gk-really-verb='Delete'
										)
											i.fui-trash

									strong {{:: comment.user.username }}
									= ' '
									span.rank(ng-if='comment.user.rank') [{{:: comment.user.rank }}]
									= ' '
									time.relative.small(datetime='{{ comment.date }}') {{ comment.relativeDate }}

									span.comment-text(
										dynamic='comment.content.html'
									)

								.comment.media-body(ng-hide='!edit')
									textarea.form-control(
										msd-elastic='\\n'
										rows='3'
										ng-disabled='disableUpdateComment'
										ng-model='comment.content.markdown'
										gk-comment-box='updateComment(comment), cancelEdit(comment)'
										gk-comment-submit='updateComment(comment)'
										gk-comment-cancel='cancelEdit(comment)'
										gk-comment-preview='preview'
										gk-comment-oneway
										gk-focus-me='edit'
									)

									h5(ng-hide='!preview') Preview
									.preview(dynamic='preview')

									span.help-block.pull-right <kbd>&lt;enter&gt;</kbd> to submit
										| <br><kbd>&lt;shift&gt; + &lt;enter&gt;</kbd> to add a return

									span.help-block= 'You can use '
										a(href='http://daringfireball.net/projects/markdown/syntax' target='_blank') Markdown
										= ' for formatting.'

									button.btn.btn-xs.btn-primary(ng-click='updateComment(comment)')
										i.fui-check
									= ' '
									button.btn.btn-xs.btn-danger(ng-click='cancelEdit(comment)')
										i.fui-cross

					//-.panel-footer.comment-compose(
						//-ng-if='kifu.path.m !== 0 && !currentUser.username'
					//-)
						//-.row
							//-.col-md-12
								//-a(ng-click='loginModal()') Log in
								//-= ' or '
								//-a(ng-click='signupModal()') sign up
								//-= ' to leave comments.'

					.panel-footer.comment-compose(
						ng-if='kifu.path.m !== 0 && !currentUser.username'
					)
						.row
							.col-md-12
								p You need an account to make comments.
								p
									button.btn.btn-primary(
										ng-click='LoginSignup.loginModal()'
									) Log in
									= ' '
									button.btn.btn-primary(
										ng-click='LoginSignup.signupModal()'
									) Sign up

					.panel-footer.comment-compose(
						ng-if='kifu.path.m !== 0 && currentUser.username'
					)
						.row
							.col-md-12
								form(ng-submit='addComment()')
									.sequencer.pull-right.btn-group(
										role='group'
									)
										button.btn-sm.white.btn.btn-default(
											type='button'
											ng-click='toggleVariationMode(-1)'
											ng-class='{ active: variationMode }'
										)
											| &nbsp;
											span
										button.btn-sm.btn.btn-default.add(
											ng-show='variationMode'
											ng-click='endVariationMode($event, true)'
										) Add
										button.btn-sm.btn.btn-default.cancel(
											ng-show='variationMode'
											ng-click='endVariationMode($event, false)'
										) Cancel
										button.btn-sm.black.btn.btn-default(
											type='button'
											ng-click='toggleVariationMode(1)'
											ng-class='{ active: variationMode }'
										)
											| &nbsp;
											span
									label Comment:
									textarea#main-comment-box.form-control(
										msd-elastic='\\n'
										ng-disabled='disableAddComment || variationMode'
										ng-model='formData.content'
										rows=3
										gk-comment-box
										gk-comment-submit='addComment()'
										gk-comment-preview='preview'
									)
						.row
							.col-md-12
								h5(ng-hide='!preview') Preview
								.preview(dynamic='preview')
						.row
							.col-md-12
								span.help-block.pull-right <kbd>&lt;enter&gt;</kbd> to submit
									| <br><kbd>&lt;shift&gt; + &lt;enter&gt;</kbd> to add a return

								span.help-block= 'You can use '
									a(href='http://daringfireball.net/projects/markdown/syntax' target='_blank') Markdown
									= ' for formatting.'

						.row
							.col-md-12
								p.pull-right
									button.btn.btn-primary.only-touch(ng-click='addComment()') Submit

