.row
	.player-container.col-md-8
		#player
			a(
				target='_self'
				href='/api/kifu/{{ kifu.shortid }}/sgf'
			) Download SGF

	.col-md-4(ng-controller='CommentController')
		.row.comments
			.comment.animate.media.col-md-12(
				ng-repeat='comment in comments track by comment._id'
			)
				a.pull-left(href='/users/{{ comment.user.username }}')
					img.media-object(
						src='{{ comment.user.gravatar }}?s=24&d=retro'
						style='width: 24px; height: 24px'
					)
				.comment.media-body(ng-hide='edit')
					.btn-group.btn-group-xs.pull-right(
						ng-hide='comment.user.username !== currentUser.username'
					)
						button.btn.btn-default(ng-click='edit=!edit')
							i.glyphicon.glyphicon-edit
						button.btn.btn-danger(ng-click='deleteComment(comment)')
							i.glyphicon.glyphicon-trash

					strong {{ comment.user.username }}
					= ' '
					time.relative.small(datetime='{{ comment.date }}') {{ comment.relativeDate }}

					span(ng-bind-html='comment.content.html')

				.comment.media-body(ng-hide='!edit')
					textarea.form-control(
						rows='3'
						ng-model='comment.content.markdown'
						gk-comment-box='updateComment(comment), cancelEdit(comment)'
						gk-comment-submit='updateComment(comment)'
						gk-comment-cancel='cancelEdit(comment)'
						gk-comment-oneway
						gk-focus-me='edit'
					)
					span.help-block.pull-right <code>&lt;enter&gt;</code> to submit
						| <br><code>&lt;shift&gt; + &lt;enter&gt;</code> to add a return

					span.help-block= 'You can use '
						a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
						= ' for formatting.'

					button.btn.btn-xs.btn-primary(ng-click='updateComment(comment)')
						i.glyphicon.glyphicon-ok
					= ' '
					button.btn.btn-xs.btn-danger(ng-click='cancelEdit(comment)')
						i.glyphicon.glyphicon-remove

		.comment-compose
			.row
				.col-md-12
					form(ng-submit='addComment()')
						label Comment:
						textarea.form-control(
							ng-model='formData.content'
							rows=3
							gk-comment-box
							gk-comment-submit='addComment()'
						)
			.row
				.col-md-12
					span.help-block.pull-right <code>&lt;enter&gt;</code> to submit
						| <br><code>&lt;shift&gt; + &lt;enter&gt;</code> to add a return

					span.help-block= 'You can use '
						a(href='http://daringfireball.net/projects/markdown/syntax') Markdown
						= ' for formatting.'

			.row
				.col-md-12
					p.pull-right
						button.btn.btn-primary.only-touch(ng-click='addComment()') Submit

