.container-fluid
	.row
		.col-md-12
			h1 Notifications

			flatui-checkbox.inline-block.dark-background(
				model='$storage.onlyUnread'
				label='"Only Unread"'
			)

			notifications(
				count='count'
				unread-count='unreadCount'
				unread='{{ $storage.onlyUnread }}'
				username='{{ currentUser.username }}'
			)
