.modal-header
	h3.modal-title Change Your Password

.modal-body
	form.form-horizontal.form-signup(
		name='form'
		ng-submit='changePassword(form)'
		novalidate
		role='form'
	)
		.form-group(
			ng-class="{ 'has-warning': form.oldPassword.$dirty, 'has-success': form.oldPassword.$valid && form.oldPassword.$dirty && !form.oldPassword.$error.mongoose, 'has-error': form.oldPassword.$invalid && form.oldPassword.$dirty || form.oldPassword.$error.mongoose }"
		)
			label.col-sm-4.control-label(for='oldPassword') Old Password:
			.col-sm-8
				input#password.form-control(
					placeholder='Old Password'
					type='password'
					name='oldPassword'
					ng-model='user.oldPassword'
					ng-model-options='{ debounce: 750 }'
					ng-minlength='5'
					required
					mongoose-error
				)
				p.help-block(
					ng-show='(form.password.$error.minlength || form.password.$invalid) && form.password.$dirty && !form.password.$error.required'
				)
					| Password must be at least five characters.
				p.help-block(ng-show='form.password.$error.mongoose')
					| {{ errors.password }}

		.form-group(
			ng-class="{ 'has-warning': form.password.$dirty, 'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose, 'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose }"
		)
			label.col-sm-4.control-label(for='password') New Password:
			.col-sm-8
				input#password.form-control(
					placeholder='Password'
					type='password'
					name='password'
					ng-model='user.password'
					ng-model-options='{ debounce: 750 }'
					ng-minlength='5'
					required
					mongoose-error
				)
				p.help-block(
					ng-show='(form.password.$error.minlength || form.password.$invalid) && form.password.$dirty && !form.password.$error.required'
				)
					| Password must be at least five characters.
				p.help-block(ng-show='form.password.$error.mongoose')
					| {{ errors.password }}

		.form-group(
			ng-class="{ 'has-warning': form.confirmPassword.$dirty, 'has-success': form.confirmPassword.$valid && form.confirmPassword.$dirty && !form.confirmPassword.$error.mongoose, 'has-error': form.confirmPassword.$invalid && form.confirmPassword.$dirty || form.confirmPassword.$error.mongoose }"
		)
			label.col-sm-4.control-label(for='password2') Confirm password:
			.col-sm-8
				input#password2.form-control(
					placeholder='Password x2'
					type='password'
					name='confirmPassword'
					ng-model='user.confirmPassword'
					ng-model-options='{ debounce: 750 }'
					compare-to='user.password'
					ng-minlength='5'
					required
					mongoose-error
				)
				p.help-block(
					ng-show='(form.confirmPassword.$error.compareTo) && form.confirmPassword.$dirty && !form.confirmPassword.$error.required'
				)
					| Passwords don&rsquo;t match.


		button.hidden(type='submit') Change Password

.modal-footer
	button.btn.btn-primary(
		ng-click='changePassword(form)'
		ng-disabled='form.$invalid'
	) Change Password
	button.btn.btn-warning(ng-click='cancel()') Cancel
