.modal-header
	h3.modal-title Reset Password

.modal-body
	form.form-horizontal.form-signin(
		name='form'
		ng-submit='resetPassword(form)'
		novalidate
		role='form'
	)

		.form-group
			label.col-sm-4.control-label(for='new-password') New Password:
			.col-sm-8(ng-class="{'has-error': error}")
				input#new-password.form-control(

					placeholder='Password'
					type='password'
					name='password'
					ng-model='user.newPassword'
					required
					mongoose-error
				)

		.row
			.col-sm-offset-4.col-sm-8.has-error(ng-show='error')
				p.help-block Error: {{ error }}

		.row(ng-show='success')
			.col-sm-offset-4.col-sm-8
				p Password changed! Now you can go ahead and
					= ' '
					a(ng-click='login()') Log in
					| .

		button.hidden(type='submit') Change Password

.modal-footer
	button.btn.btn-primary(ng-click='resetPassword(form)' ng-hide='success' ng-disabled='!user.newPassword') Change Password
	button.btn.btn-default(ng-click='cancel()') Cancel
