.col-md-12
	h3 Upload

.col-md-3
	.panel.panel-default
		.panel-heading Select Files
		.panel-body
			div(ng-show='uploader.isHTML5')
				input(
					ng-file-select
					type='file'
					multiple
				)
.col-md-9
	.panel.panel-default
		.panel-heading Upload Queue
		.panel-body
			p Queue length: {{ uploader.queue.length }}

			table.table
				thead
					tr
						th(width='50%') Name
						th(ng-show='uploader.isHTML5') Size
						th(ng-show='uploader.isHTML5') Progress
						th Status
						th Actions

				tbody
					tr(ng-repeat='item in uploader.queue')
						td
							strong
								a(
									ng-if='item.shortid'
									href='/kifu/{{ item.shortid }}'
								)
									{{ item.file.name }}
								span(
									ng-if='!item.shortid'
								)
									{{ item.file.name }}
						td(ng-show='uploader.isHTML5' nowrap)
							| {{ item.file.size/1024/1024|number:2 }} MB
						td(ng-show='uploader.isHTML5')
							.progress
								.progress-bar(
									role='progressbar'
									ng-style="{ 'width': item.progress + '%' }"
								)
						td.text-center
							span(ng-show='item.isSuccess')
								i.glyphicon.glyphicon-ok
							span(ng-show='item.isCancel')
								i.glyphicon.glyphicon-ban-circle
							span(ng-show='item.isError')
								i.glyphicon.glyphicon-remove
						td(nowrap)
							button.btn.btn-success.btn-xs(
								type='button'
								ng-click='item.upload()'
								ng-disabled='item.isReady || item.isUploading || item.isSuccess'
							)
								span.fui-upload
								= ' Upload'
							= ' '
							button.btn.btn-warning.btn-xs(
								type='button'
								ng-click='item.cancel()'
								ng-disabled='!item.isUploading'
							)
								span.fui-cross
								= ' Cancel'
							= ' '
							button.btn.btn-danger.btn-xs(
								type='button'
								ng-click='item.remove()'
							)
								span.fui-trash
								= ' Remove'

			div
				p Queue progress:
					.progress
						.progress-bar(
							role='progressbar'
							ng-style="{ 'width': uploader.progress + '%' }"
						)
				button.btn.btn-success.btn-s(
					ng-click='uploader.uploadAll()'
					ng-disabled='!uploader.getNotUploadedItems().length'
				)
					span.fui-upload
					= ' Upload all'
				= ' '
				button.btn.btn-warning.btn-s(
					ng-click='uploader.cancelAll()'
					ng-disabled='!uploader.isUploading'
				)
					span.fui-cross
					= ' Cancel all'
				= ' '
				button.btn.btn-danger.btn-s(
					ng-click='uploader.removeAll()'
				)
					span.fui-trash
					= ' Remove all'

